/1_Cubes/.vs
/1_Cubes/x64
/3_GeometryDesign_RaysInstancing/.vs
/3_GeometryDesign_RaysInstancing/x64
/3_GeometryDesign_RaysInstancing/data-files/log.txt
/3_GeometryDesign_RaysInstancing/enc_temp_folder
/4_Rays/.vs
/4_Rays/x64
/4_Rays/data-files/log.txt
/4_Rays/enc_temp_folder
